body{
    background-color: rgb(25, 25, 25);
}

#comp{
    display: flex;
}

#großpack{
    background-color: rgb(20, 20, 20);
    border-color: black;
    border-style: dashed;
}

.pack{
    display: flex;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.deck{
    margin: auto;
}

#pack1{
    margin-top: 25px;
}

